* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .container {
    max-width: 1330px;
    margin: 0.5rem auto;
    border: solid 1px #ccc;
  }

  .inner-container {
    max-width: 1300px;
    margin: 0 auto;
  }


@media (max-width: 500px) {
  .container{
    /*max-width: 300px;*/
    /*margin: 0.5rem auto;*/
    border: solid 1px #ccc;
  }


}

/*@media (max-width: 900px) {*/
/*  .container{*/
/*    max-width: 800px;*/
/*  }*/

/*}*/