* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .container {
    max-width: 1330px;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: solid 1px #ccc;
  }

  .inner-container {
    max-width: 1300px;
    margin: 0 auto;
  }


