
$light-color: #adefd1ff;
$dark-color: #00203fff;
$gradient-color1: #114357;
$gradient-color2:#f29492;

.padding-y{
  padding:2rem 0;
}

.header {
  background: linear-gradient(to right, $gradient-color1, $gradient-color2);

  //background-color: $dark-color;
  color: $light-color;
  &-content {
    text-align: center;
    & h1:after {
      content: "";
      width: 7rem;
      height: 2px;
      margin: 1rem auto 0 auto;
      background-color: $light-color;
      display: block;
    }
    input[type="text"] {
      padding: 0.5rem;
      width: 25%;
      outline:none;
    }

    .btn {
      padding: 0.6rem;
      border: solid 1px $dark-color;
      background: $light-color;
      color: $dark-color;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

 section{
  //background-color: $light-color;
  color: $dark-color;
.product-listing-content {
    text-align: center;
  h1{
    padding:1rem 0;
  }
  }
}

.card {
  background-color: #fff;
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 1px 1px 7px 3px #ccc;
  transform: translateY(3px);

  //width:calc(100%/3 - 100px);
&-image{

  img {
    //width:200px;
    height: 200px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
}
  &:hover {
    transform: translateY(0px);
  }

  &-content {
    .add-to-cart {
      margin-top:1rem;
      transition: all 0.3s ease-in-out;
      padding: 0.5rem 0.7rem;
      background: $dark-color;
      color: $light-color;
      border: none;
      cursor: pointer;

      &:active {
        background: $gradient-color2;
        transform:translateY(2px);
      }
    }
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;

}
.stars {
  display: flex;
}
.stars > div{
  border: none;
  float: left;
}

.stars > div > input {
  display: none;
  //opacity: 0;
  //overflow: hidden;
}
.stars > div > label:before {
  font-size: 1.2rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.stars > div > .rating {
  color: $dark-color;
  float: right;
}

.stars > div > input:checked ~ .rating,
.stars:not(:checked) > div > .rating:hover,
.stars:not(:checked) > div > .rating:hover ~ .rating {
  color: #e74f76;
}

@media (max-width:500px){
  .products{
    display: grid;
    grid-template-columns: 1fr ;
  }
}